* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(127, 63, 17, 0.832);
}

header {
    margin: 0 15em;
    height: 250px;
}

.cabecalho {
    background-image: url("./assets/aotheader.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.head-title {
    text-align: center;
    color: var(--branco);
    font-size: 50px;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
}


main {
    margin: 0 15em;
}
.bg-main {
    background-image: url("./assets/bgaot.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.content {
    display: flex;
    margin: 2em 5em;
    padding: 2em 1em;
    background-color: gray;
}

.container-img1 {
    width: 35vh;
    height: 30vh;
}

.container-info {
    padding: 1em 2em;
    text-align: justify;
    line-height: 1;
}

.title-container {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 1em;
}

.container-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var();
}

.container-button {
    border: 2px solid #000;
    background-color: orangered;
    padding: .4em;
    border-radius: 40px;
    cursor: pointer;
}

.page-container {
    display: flex;
    margin: 5em 5em;
    padding: 2em 1em;
    background-color: gray;
}

iframe {
    width: 40vh;
    height: 30vh;
}

.text-content {
    text-transform: uppercase;
    margin-left: 1em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-content a {
    color: #000;
}

span {
    color: coral;
}

.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5em 5em;
    padding: .5em 5em;
    background-color: rgb(216, 242, 244);
}

.div1 {
    background-color: #fff;
    margin: .4em;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 60px;
    font-size: 10px;
    text-transform: uppercase;
}

.div1 img {
    width: 30vh;
    height: 15vh;
}

.title-div1 {
    justify-self: center;
    margin: 5em 2em;
}

.container-img1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.container-img2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
}

.title-div2 {
    justify-self:center;
    margin: 6em 1em;
}

.container-img3 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: flex-end;
}

.title-div3 {
    justify-self:center;
    margin: 6em 1em;
}

.title-div4 {
    justify-self:center;
    margin: 8em 1em;
}
